{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container mt-4"> 
    {% include "partials/_messages.html" %}
<div class="row">
    <div class="col-md-10">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Contributions</a></li>
                  <li class="breadcrumb-item active" aria-current="page">My Contributions</li>
                </ol>
              </nav>
            </div>
        </nav>
    </div>
    
    {% comment %} <div class="col-md-2 container">
        <a href="{% url 'add-expenses' %}" class="btn btn-primary">Apply for Loan</a>
    </div> {% endcomment %}
</div>


<div class="container">
    {% if contribution.count %}

    <div class="row my-4">
        <div class="col-md-8"></div>
        
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control" id="searchField" placeholder="Search" />
            </div>
        </div>
    </div>    

    <table class="table table-stripped table-hover">
        <thead>
            <tr>
                <th>Amount (CURRENCY)</th>
                <th>Source</th>
                <th>Description</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for contribution in page_obj  %}
            <tr>
                <td>{{contribution.amount}}</td>
                <td>{{contribution.source}}</td>
                <td>{{contribution.description}}</td>
                <td>{{contribution.date}}</td>

                {% comment %} <td>
                    <a
                        href="{% url 'expense_edit' expense.id %}"
                        class="btn btn-secondary btn-sm"
                        >Edit
                    </a>
                </td> {% endcomment %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div  class="">
        Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </div>

    <ul class="pagination align-right float-end mr-auto">
        {% if page_obj.has_previous %}
        <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }} &raquo;</a></li>
        {% endif %}

    </ul>

    {% endif %} 
</div>

</div>

<script src="{% static 'js/searchContributions.js' %}"></script>

{% endblock content %}